{% extends "C:\Users\Zbyszek\Desktop\game_app\main\templates\bar.html" %}
{% load mathfilters %}
{% block content %}

<!--<div class="flex-container">-->
<!--    {% for character in characters %}-->
<!--    <a href="{{character.pk}}" join character.pk>-->
<!--    <div class="character">-->
<!--    <div class="text">-->
<!--        <h align="left"><b> {{ character.name }} </b></h>-->
<!--        <h> Race: {{ character.race }} ,</h>-->
<!--        <h> Height: {{ character.height }} ,</h>-->
<!--        <h> Age: {{ character.age }} </h>-->
<!--        <br>-->
<!--    </div>-->
<!--    </div>-->
<!--    </a>-->
<!--    {% endfor %}-->

<table id="myTable">
  <tr>
    <th>Image</th>
    <th onclick="sortTable(0)">Name</th>
    <th onclick="sortTable(1)">Race</th>
	<th onclick="sortTable(2)">Height</th>
	<th onclick="sortTable(3)">Age</th>
    <th onclick="sortTable(4)">Nature</th>
    <th onclick="sortTable(5)">Overall</th>
  </tr>

      {% for character in characters %}
      <tr>
		<a href="{{character.pk}}" join character.pk>
        <td class="photo"> <img src="xxx.jpg" width="150" height="100"> </td>
        <td class="name"><b> {{ character.name }} </b></td>
        <td class="race"> {{ character.race }} </td>
        <td class="number"> {{ character.height }} </td>
        <td class="number"> {{ character.age }} </td>
        <td class="number"> {{ character.nature }} </td>
        <td class="number"> {{ character.defence|addition:character.speed|add:character.hp }} </td>
		</a>
      </tr>
	  {% endfor %}

</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}